.genre-tag {
    background-color: var(--primary);
    margin-bottom: 10px;
    padding: 0.2rem 0.7rem;
    border-radius: 15px;
    font-weight: bold;
}

.active-tag {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}
