/* Header */

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
    padding: 0 2rem;
    max-height: 5rem;
}

.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 1rem;
    padding-right: 1.5rem;
}

.user-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    padding-right: 1rem;
}

.logout-icon {
    padding-left: .25rem;
    color: red;
}

/* Sidebar */

.sidebar {
    display: inline-block;
    background-color: var(--darkRed);
    width: 5rem;
    height: 100vh;
    padding-top: 2rem;
}

.sidebar:hover {
    width: 25rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar-item,
.active-item {
    color: var(--white);
    display: flex;
    align-items: center;
    text-decoration: none;
    visibility: hidden;
}

.active-item {
    background-color: var(--red);
}

.sidebar-item:hover,
.active-item:hover {
    background-color: var(--red);
}

.active-item .mainIcon {
    background-color: var(--red);
}

.mainIcon {
    visibility: visible;
    padding: 1.5rem;
}

.arrowIcon {
    padding: 1.5rem;
    height: 2rem;
    position: relative;
    left: -1.5rem;
}

.sidebar:hover .sidebar-item,
.sidebar:hover .active-item {
    visibility: visible;
}

.sidebar-item h2,
.active-item h2 {
    padding: 0 2rem;
}

/* Activities List */

.activities {
    background-color: var(--lightGray);
    margin: 2rem 0.5rem;
    padding: 1rem;
    visibility: hidden;
}

.activities h1 {
    color: var(--white);
    border-bottom: 0.25rem solid var(--white);
    text-align: center;
}

.sidebar:hover .activities {
    visibility: visible;
}
